<header>
  <section class="container header">
    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-list-item">
          <a href="/">home</a>
        </li>
        <li class="navigation-list-item">
          <a href="#">about</a>
        </li>
         <li class="navigation-list-item">
          <a href="#">contact</a>
        </li>
      </ul>
    </nav>
  </section>
</header>