<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Compatible con X-UA" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <mwta name="keywords" content="Node, Express, handlebars"/>
  <meta name="description" content="Express handlebars boilerplate" />
  <meta name="author" content="Natasha" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="icon" type="image/ico" href="favicon.ico" />
  <title>Mi awesome site</title>
</head>

<body aria-roledescription="main content" aria>
  {{> header}}
  <div class="container main">
    {{{body}}}

    {{> footer}}
  </div>

</body>

</html>