<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Compatible con X-UA" content="IE=edge" />
  <title>Mi awesome site</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="icon" type="image/ico" href="/favicon.ico" />
</head>

<body aria-roledescription="main content">
  {{> header}}
  <div class="container">
    {{{body}}}

    {{> footer}}
  </div>

</body>

</html>